
.filters{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    width: 100%;
    gap: 0.5rem;
}

.input-city{
    flex-grow: 1; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.search-container{
    display: flex;
    width: 95%; /* Esto hará que el contenedor ocupe todo el ancho de la pantalla */
    margin: 0;
    gap: 0.5rem;
}

.search-container button {
    background-color: #5e5e5e;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* From https://css.glass */
    background: rgba(18, 18, 43, 0.62);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    width: 95%;
    /* Quiero centrar todo el bloque */
    margin: 1rem auto;
    
}

.title-weather{
    font-weight: bold;
    font-size: xx-large;
    color: #cbe2e7;
    margin: 1rem 0 0 0;
    text-transform: uppercase;
}


@media (min-width: 768px){
    .search-container{
        width: 56%;
    }
}