

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('./images/city-night-background-rainy-window-with-office-buildings-water-texture.jpg');
  background-size: cover;
  background-repeat: repeat-y;
}

